
/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
outline: none;
border: none; 
font-family: Helvetica Neue, "Montserrat", sans-serif;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #bdbdd3;}
input:-moz-placeholder { color: #bdbdd3;}
input::-moz-placeholder { color: #bdbdd3;}
input:-ms-input-placeholder { color: #bdbdd3;}

textarea::-webkit-input-placeholder { color: #bdbdd3;}
textarea:-moz-placeholder { color: #bdbdd3;}
textarea::-moz-placeholder { color: #bdbdd3;}
textarea:-ms-input-placeholder { color: #bdbdd3;}


/*==================================================================
[ Contact - Area]*/

.container-contact {
  width: 100%;  
  min-height: 70vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: transparent;
}

.wrap-contact {
  width: 700px;
  background: transparent;
  border: 1px solid #b3b3b3;
  padding: 40px 0px 20px 0px;
}

.wrap-contact-image {
  width: 600px;
  background: transparent;
  padding: 40px 0px 20px 0px;
}

/*==================================================================
[ Contact - Form ]*/

.contact-form {
  width: 100%;
}

.error {
  padding: 5px 9px;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
}
 
.success {
  padding: 5px 9px;
  border: 1px solid green;
  color: green;
  border-radius: 3px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
  width: 90%;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}


.input {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  color: #8f8fa1;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  height: 42px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}

/*---------------------------------------------*/

input.input {
  height: 62px;
  padding: 0 15px 0 15px;
}


textarea.input {
  min-height: 169px;
  padding: 19px 15px 0 15px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #fff;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input100 {
  width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 250px;
  height: 50px;
  background-color: transparent;
  border-radius:7px;
  cursor: pointer;

  font-family: "Montserrat";
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 7px;
  background-color: #9e8c7b;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn:hover:before {
  background-color: #916439;
}

.validate-input {
  position: relative;
}

/*==================================================================
[ Info Grid]*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px;
  grid-gap: 100px;
  padding: 10px 30px 0px 30px;
}

.grid-container > div {
  padding: 20px 0;
  font-size: 10px;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}


/*==================================================================
[  Hero title ]*/


.listing-hero {
    background: #F7F0EA;
    padding: 101px 0 30px;
}

.hero-heading {
    margin: 0 auto;
    width: 100%;
    max-width: 709px;
}

section#post-28 {
    padding-top: 155px;
}

.hero-large {
    display: inline-block;
    width: 40%;
    font-weight: 300;
    font-size: 56px;
    line-height: 56px;
    position: relative;
    top: -19px;
    color: #454545;
}

.hero-text {
    display: inline-block;
    width: 59%;
    vertical-align: top;
    border-left: 1px solid #8E8E8E;
    padding: 0 33px;
    font-size: 15px;
    line-height: 23px;
    /* or 153% */
    color: #454545;
    vertical-align: top;
}


.hero-text .btn.no-border {
    margin-top: 15px;
    margin-bottom: 6.5px;
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    background-position: right center;
    max-width: 99px;
}

.hero-text i {
    font-style: normal;
    margin-top: -6px;
    display: block;
}